@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Applications Gategroup A</h1>
    <table id="tblConnectedApps_A">

    </table>
    <br/><br/>
    <h1 class="display-4">Applications Gategroup B</h1>
    <table id="tblConnectedApps_B">

    </table>
    <br /><br />
    <h1 class="display-4">Applications Gategroup C</h1>
    <table id="tblConnectedApps_C">

    </table>
</div>
